@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  padding-right: calc(100vw - 100%);
}

.hidden {
  display: none;
}

.blueShadowBtn {
  box-shadow: 2px 2px rgba(73, 101, 203, 0.5);
}

.greenShadowBtn {
  box-shadow: 2px 2px rgba(63, 180, 93, 0.5);
}

.h1Shadow {
  text-shadow: 2px 2px #3b3b3b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3fb45d;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #36a251;
  transition: all 0.1s;
  cursor: grab;
}

html {
  scroll-behavior: smooth;
}

/* * {
  box-sizing: border-box;
} */

/* body, html {
  width: 100%;
  overflow-x: hidden;
} */


/*  */
/*  */

/* lg:max-w-[1100px] md:max-w-[900px] sm:max-w-[600px] max-w-[500px] */

@layer utilities {
  * {
    @apply border-border font-osvald;
  }

  .containerDesign {
    @apply max-w-[1520px]  mx-auto md:px-10 px-5;
  }

  .h1Desktop {
    @apply text-h1DesktopFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h2Desktop {
    @apply text-h2DesktopFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h3Desktop {
    @apply text-h3DesktopFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h4Desktop {
    @apply text-h4DesktopFont leading-[130%] font-bold text-textDesign font-osvald;
  }
  .h5Desktop {
    @apply text-h5DesktopFont leading-[140%] font-bold text-textDesign font-osvald;
  }
  .h6Desktop {
    @apply text-h6DesktopFont leading-[140%] font-bold text-textDesign font-osvald;
  }

  .h1Mobile {
    @apply text-h1MobileFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h2Mobile {
    @apply text-h2MobileFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h3Mobile {
    @apply text-h3MobileFont leading-[120%] font-bold text-textDesign font-osvald;
  }
  .h4Mobile {
    @apply text-h4MobileFont leading-[140%] font-bold text-textDesign font-osvald;
  }
  .h5Mobile {
    @apply text-h5MobileFont leading-[140%] font-bold text-textDesign font-osvald;
  }
  .h6Mobile {
    @apply text-h6MobileFont leading-[140%] font-bold text-textDesign font-osvald;
  }

  .large-light {
    @apply font-light text-largeFont text-textDesign leading-[150%] font-osvald;
  }
  .large-normal {
    @apply font-normal text-largeFont text-textDesign leading-[150%] font-osvald;
  }
  .large-medium {
    @apply font-medium text-largeFont text-textDesign leading-[150%] font-osvald;
  }
  .large-semibold {
    @apply font-semibold text-largeFont text-textDesign leading-[150%] font-osvald;
  }
  .large-bold {
    @apply font-bold text-largeFont text-textDesign leading-[150%] font-osvald;
  }
  .large-extrabold {
    @apply font-extrabold text-largeFont text-textDesign leading-[150%] font-osvald;
  }

  .medium-light {
    @apply font-light text-mediumFont text-textDesign leading-[150%] font-osvald;
  }
  .medium-normal {
    @apply font-normal text-mediumFont text-textDesign leading-[150%] font-osvald;
  }
  .medium-medium {
    @apply font-medium text-mediumFont text-textDesign leading-[150%] font-osvald;
  }
  .medium-semibold {
    @apply font-semibold text-mediumFont text-textDesign leading-[150%] font-osvald;
  }
  .medium-bold {
    @apply font-bold text-mediumFont text-textDesign leading-[150%] font-osvald;
  }
  .medium-extrabold {
    @apply font-extrabold text-mediumFont text-textDesign leading-[150%] font-osvald;
  }

  .regular-light {
    @apply font-light text-regularFont text-textDesign leading-[150%] font-osvald;
  }
  .regular-normal {
    @apply font-normal text-regularFont text-textDesign leading-[150%] font-osvald;
  }
  .regular-medium {
    @apply font-medium text-regularFont text-textDesign leading-[150%] font-osvald;
  }
  .regular-semibold {
    @apply font-semibold text-regularFont text-textDesign leading-[150%] font-osvald;
  }
  .regular-bold {
    @apply font-bold text-regularFont text-textDesign leading-[150%] font-osvald;
  }
  .regular-extrabold {
    @apply font-extrabold text-regularFont text-textDesign leading-[150%] font-osvald;
  }

  .small-light {
    @apply font-light text-smallFont text-textDesign leading-[150%] font-osvald;
  }
  .small-normal {
    @apply font-normal text-smallFont text-textDesign leading-[150%] font-osvald;
  }
  .small-medium {
    @apply font-medium text-smallFont text-textDesign leading-[150%] font-osvald;
  }
  .small-semibold {
    @apply font-semibold text-smallFont text-textDesign leading-[150%] font-osvald;
  }
  .small-bold {
    @apply font-bold text-smallFont text-textDesign leading-[150%] font-osvald;
  }
  .small-extrabold {
    @apply font-extrabold text-smallrFont text-textDesign leading-[150%] font-osvald;
  }

  .tiny-light {
    @apply font-light text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
  .tiny-normal {
    @apply font-normal text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
  .tiny-medium {
    @apply font-medium text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
  .tiny-semibold {
    @apply font-semibold text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
  .tiny-bold {
    @apply font-bold text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
  .tiny-extrabold {
    @apply font-extrabold text-tinyFont text-textDesign leading-[150%] font-osvald;
  }
}
